.addReviewMain {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
}

.largeTextbox {
  width: 550px;
  height: 200px;
  border: 2px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.19);
}

textarea{
  font-size: 14px;
}

input[type=text]{
  border: 1px solid rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  padding: 5px 5px;
  font-size: 14px;
}

.rating {

}
