.departmentTitle{
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
}


.moduleList{
  height:525px;
  width:100%;
  margin-top: 20px;
  background-color: white;
  overflow:hidden;
  overflow-y: scroll;
}

.modules{
  float: left;
  clear: left;
  margin-bottom: 7px;
  background-color: #ffd35b;
  width: 500px;
}
