
body {
  background-color: #ffd35b;
}

.search{
  text-align: center;
  width: 900px;
  height: 200px;
  position: absolute;
  top: 35%;
  right: 0px;
  left: 0px;
  margin: 0px auto;
}

input[type=text] {
  font-size: 15px;
  width: 75%;
  padding: 15px 15px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 3px;
  outline: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
