
.moduleTitle {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 80px;
}

.uniAndDep{
  line-height: 0.3em;
}



p.smallFont {
  font-size: 14px;
}

a {
  color: black;
}

a:hover:not(.active) {
  color: #ffd35b;
  text-decoration: none;
}

hr {
  border-top: 0.9px solid gray;
}

.review {
  padding-bottom: 6px;
  padding-top:6px;
  position: relative;
}

#profilePicture{
  position: absolute;
  margin-left: 20px;
  margin-right:20px;
  margin-top: 18px;
}

.hidden {
  color: transparent;
}

.revText {
  padding-right: 100px;
  margin-left: 80px;
}

.profilePicture {
  border: 1px solid black;

}

.reviewInfo {
  margin-left: 80px;

}

.likeDislike {
  width: 50px;
  float: right;
}

.fa {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: #727272
}

#reviews::before {
  content: '';
  background:url('https://img.icons8.com/cotton/64/000000/seo-text.png');
  background-size:cover;
  position:absolute;
  width:14px;
  height:14px;
  z-index:-1;
}

#pen::before {
  content: '';
  background:url('https://img.icons8.com/pastel-glyph/64/000000/create-new--v2.png');
  background-size:cover;
  position:absolute;
  width:14px;
  height:14px;
  z-index:-1;
}

#fullStar::before {
  content: '';
  background:url('https://img.icons8.com/ios-filled/50/000000/star--v1.png');
  background-size:cover;
  position:absolute;
  width:14px;
  height:14px;
  z-index:-1;
}

#emptyStar::before {
  content: '';
  background:url('https://img.icons8.com/ios/50/000000/star--v1.png');
  background-size:cover;
  position:absolute;
  width:14px;
  height:14px;
  z-index:-1;
}

#halfStar::before {
  content: '';
  background:url('https://img.icons8.com/ios-filled/96/000000/star-half-empty.png');
  background-size:cover;
  position:absolute;
  width:14px;
  height:14px;
  z-index:-1;
}

.inline{
  display:inline;
}
