
.universityMain{
  margin-top: 80px;
  margin-left: 80px;
  margin-right: 80px;
}

.departmentList{
  height:600px;
  width:100%;
  margin-top: 20px;
  background-color: white;
  overflow:hidden;
  overflow-y: scroll;
  margin: 0 auto;
}


.departments{
  float: left;
  clear: left;
  margin-bottom: 7px;
  background-color: #ffd35b;
  width: 500px;
  display: inline;
}

a {
  color: black;
}

a:hover:not(.active) {
  color: #ffd35b;
  text-decoration: none;
}
