<!DOCTYPE html>
{% extends  'CourseRater/base.html' %}
{% load static %}

{% block title_block %}
                Add University page
{% endblock %}

{% block style_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
{% endblock %}

{% block body_block %}
<h1>Add a University</h1>
    <div>
        <form id="university_form" method="post" action="/CourseRate/add_university/">
            {% csrf_token %}
            {% for hidden in forms.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Add University" />
        </form>
    </div>
{% endblock %}