<!DOCTYPE html>
{% extends  'CourseRater/base.html' %}
{% load static %}

{% block title_block %}
                Add department page
{% endblock %}

{% block style_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/add_review.css' %}"/>
{% endblock %}

{% block body_block %}
<div class="addReviewMain">
  <h1>Add a Review</h1>
     <div>
      <form id="review_form" method="post" action="/CourseRate/university/{{ university.slug }}/{{ department.slug }}/{{ module.slug }}/add_review/">
          {% csrf_token %}
          {% for hidden in form.hidden_fields %}
             {{ hidden }}
          {% endfor %}
          {% for field in form.visible_fields %}
              {{ field.errors }}
              {{ field.help_text }}
              </br>
              {{ field }}
              </br></br>
          {% endfor %}
        <input type="submit" name="submit" value="Add Review" />
      </form>
    </div>
</div>
{% endblock %}
