<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <title>
      Course Rater
        {% block title_block %}
          Base case
        {% endblock %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    {% block style_block %}
      Base case
    {% endblock %}

  </head>

  <body>
    <ul class = "top">
        <li id="websiteName"><a href="{% url 'CourseRate:home' %}">CourseRater</a></li>
        <li><a href="{% url 'CourseRate:about' %}">About us</a></li>
      {% if user.is_authenticated %}
        <li class="topRight"><a href="{% url 'CourseRate:logout' %}">Logout</a></li>
        <li class="topRight"><a>Hello {{ user.username }}!</a></li>
      {% else %}
        <li class="topRight"><a href="{% url 'CourseRate:login' %}">Login</a></li>
        <li class="topRight"><a href="{% url 'CourseRate:register' %}">Register</a></li>
      {% endif %}

    </ul>

    <div class = "main">
      {% block body_block %}
        Base case
      {% endblock %}
    </div>
  </body>
</html>
