<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>
            Course Rater
            {% block title_block %}
                Base case
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
        Course Rater 2021
            {% block body_block %}
                Base case
            {% endblock %}
        </div>
    <hr />
    <div>
        <ul>
            <li><a href="{% url 'CourseRate:about' %}">About</a></li>
            <li><a href="{% url 'CourseRate:home' %}">Home</a></li>
            <li><a href="{% url 'CourseRate:register' %}">Sign Up</a></li>
        </ul>
    </div>
    </body>
</html>
