<!DOCTYPE html>
{% extends  'CourseRater/base.html' %}
{% load static %}

{% block title_block %}
                Department
{% endblock %}

{% block style_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/department.css' %}"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'js/department.js' %}"></script>
{% endblock %}

{% block body_block %}
<div class="departmentTitle">
{% if department %}
  <h1>{{ department.department_name }}</h1>
    {% if modules %}
        <p>Choose a course from the department of {{ department.department_name }} at the {{ university.university_name }}.</p>
        <strong>Search course: </strong>
        <input class="form-control" id="search" type="text" placeholder="Search..">
        <p> Can't find the course you're looking for? <a href="{% url 'CourseRate:add_module' university.slug department.slug %}">Add a course to this department</a><p>
        <ul class="moduleList" id="moduleList">
        {% for module in modules %}
        <li class="modules"><a href="{% url 'CourseRate:show_module' university.slug department.slug module.slug%}">{{ module.module_name }}</a></li>
        {% endfor %}
        </ul>

    {% else %}
    <p> The {{ department.department_name }} department at the {{ university.university_name }} does not currently have any courses. </p>
    <p><a href="{% url 'CourseRate:add_module' university.slug department.slug %}">Add a course to this department.</a><p>
    {% endif %}

{% else %}
    <h1> Oops! </h1>
    <p>The department you searched for does not currently exist in our database.</p>
    <p><a href="{% url 'CourseRate:add_department' university.slug %}">Add a department to this university</a><p>
{% endif %}
</div>
{% endblock %}
