<!DOCTYPE html>
{% extends  'CourseRater/base.html' %}
{% load static %}

{% block title_block %}
                Homepage
{% endblock %}

{% block style_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block body_block %}
<div class = "container">
  <div class = "search">
    <h1> Find your university </h1>
    <h3> Search your university to find course ratings and start rating courses. </h3>
    <form>
      <input type="text" id="lname" name="lname" placeholder="Search...">
    </form>
  </div>
</div>
{% endblock %}
