{% extends 'CourseRater/base.html' %}
{% load static %}

{% block title_block %}
Login
{% endblock %}

{% block style_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
{% endblock %}

{% block body_block %}
<div class = "container">
  <h1>Login to CourseRater</h1>
  <div class="login">
  <form id="login_form" method="post" action="{% url 'CourseRate:login' %}">
    {% csrf_token %}
    Username: <br /><input type="text" name="username" value="" size="50" />
    <br /><br />
    Password: <br /><input type="password" name="password" value="" size="50" />
    <br /><br />
    <input type="submit" value="Login" /><br />
  </form>
  </div>
  <p>Don't have an account? <a href="{% url 'CourseRate:register' %}">Register for free!</a></p>
</div>

{% endblock %}
