<!DOCTYPE html>
{% extends  'CourseRater/base.html' %}
{% load static %}

{% block title_block %}
                Module
{% endblock %}


{% block style_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/module.css' %}"/>
{% endblock %}

{% block body_block %}
<div class="moduleTitle">
{% if module %}
    {{ university.university_name }} ◦ {{ department.department_name }}
  <h1>{{ module.module_name }}</h1>
{% else %}
    <strong>This module does not exist for this department.</strong>
{% endif %}
{% if reviews %}
    {% for review in reviews %}
        {{ review.rev_title }}
    {% endfor %}
{% else %}
    There are noe reviews for this module yet.
{% endif %}
<p><a href="{% url 'CourseRate:add_review' university.slug department.slug module.slug%}">Add a review.</a><p>
</div>
{% endblock %}
