<!DOCTYPE html>
{% extends  'CourseRater/base.html' %}
{% load static %}

{% block title_block %}
                Module
{% endblock %}


{% block style_block %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/module.css' %}"/>
{% endblock %}

{% block body_block %}
<div class="moduleTitle">
{% if module %}
    {{ university.university_name }} ◦ {{ department.department_name }}
  <h1>{{ module.module_name }}</h1>
  <p>Average rating:</p>
  <p>Reviews:</p>
  <hr />
  <p><a href="{% url 'CourseRate:add_review' university.slug department.slug module.slug%}">Add a review</a><p>
  <hr />
  <br>
{% else %}
    <strong>This course does not exist for this department.</strong>
{% endif %}
{% if reviews %}
    {% for review in reviews %}
        <p> {{ review.rev_title }} </p>
        <p>Course rating: {{ review.rev_rating }}/10</p>
        <p>{{ review.rev_text }}<p>
        <br>
        <br>
    {% endfor %}
{% else %}
    There are no reviews for this course yet.
{% endif %}
</div>
{% endblock %}
